body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.header h1 {
text-align: center;
color:white;
text-shadow: 1px 1px 1px black;
font-size: 60px;
font-family: "Niconne", sans-serif;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
max-width:fit-content;
margin: 0 auto;
padding: 10px;
}

.glow {
  font-size: 20px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px yellowgreen, 0 0 30px yellowgreen, 0 0 40px yellowgreen, 0 0 50px yellowgreen, 0 0 60px yellowgreen;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow, 0 0 60px yellow, 0 0 70px yellow;
  }
}

.container {
  max-height:fit-content;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 1px #fff;
  font-weight: bold;
  background-size: 100%;
  background-blend-mode: normal;
  background-image: url(../images/skybackground.jpg);
}

form {
  display: flex;
  gap: 10px;
}

#wrapper-name {
  position: relative;
  top: -20px;
}

#weather-wrapper {
  max-width: auto;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 1px #fff;
  text-align: center;
  max-width: 580px;
}

#wrapper-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#weather-wrapper img {
  width: 50px; 
  height: 50px; 
}

#weather-wrapper .card-header {
  padding: 4rem 0 2rem; 
}

#weather-wrapper .card-body {
  padding: 2rem 0;
}

#forecast-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.forecast-card {
  flex: 1;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); 
  margin-right: 10px; 
}

.forecast-card img {
  width: 50px; 
  height: 50px; 
}

.forecast-card span {
  display: block;
  margin-top: 8px;
}

.now-section {
  text-align: center;
}

.now-section img {
  width: 100%; 
}

#search-container {
  text-align: center;
  margin: 20px;
}

#search-box {
  padding: 10px;
  font-size: 16px;
}

#search-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#city-buttons {
  display: flex;
  flex-direction: column;
  align-items:center;
}

#city-buttons button {
  margin: 5px;
  background: linear-gradient(to right, #007BFF, #0056b3);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 0.5px #fff;
}

#city-buttons button:hover {
  background: linear-gradient(to left, #0056b3, #007BFF);
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card-header {
  padding: 10px;
}

.card-body {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 font-size: 20px;
 border-radius: 5px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}